/* Import de la police Kodchasan */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@300;400;700&display=swap');

body {
  font-family: 'Kodchasan', sans-serif;
  background-color: #020200;
  color: #F1F1F1;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #111;
  padding: 1rem;
  border-bottom: 2px solid #F8A114;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F1F1F1;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #F1F1F1;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.navbar-links li a.active,
.navbar-links li a:hover {
  border-bottom: 2px solid #F8A114;
}

.search-bar {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  font-family: 'Kodchasan', sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 2rem 1rem;
}

.info-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #111;
  padding: 2rem;
}

.info-box {
  flex: 1 1 45%;
  margin-bottom: 2rem;
}

.video-banner {
  background: url('https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/3241660/1ea445e044a2d5b09cfa8291350b63ebed6e5741/header.jpg?t=1743517226') center/cover no-repeat;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #000;
}
.video-banner video {
  width: 100px;
  height: 200px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.button {
  background-color: #F8A114;
  color: rgba(2, 2, 0, 0.5);
  font-style: italic;
  font-weight: 300;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e5940f;
}

h2, ul, p {
  color: #F1F1F1;
}
